* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(45deg,  #ffc351, #904bb8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #519cff;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.input-field input:focus {
    border-color: #519cff;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #519cff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #407ec9;
}

.message {
    text-align: center;
    margin-top: 15px;
    color: red;
    font-size: 14px;
}
.back-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #519cff; /* Match this color to your theme */
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.back-btn:hover {
    color: #407ec9; /* Darker shade on hover */
}

